<section class="pricing">
    <div class="container">
      <h3>Pricing Options</h3>
      <ul>
        <li>
          <span class="icon">Icon 1</span>
          <h4>Plan 1</h4>
          <p>Price: $10/month</p>
        </li>
        <li>
          <span class="icon">Icon 2</span>
          <h4>Plan 2</h4>
          <p>Price: $20/month</p>
        </li>
        <li>
          <span class="icon">Icon 3</span>
          <h4>Plan 3</h4>
          <p>Price: $30/month</p>
        </li>
      </ul>
      <div class="highlight">
        <h4>Special Offer</h4>
        <p>Get 50% off on Plan 2 for the first month!</p>
      </div>
    </div>
  </section>
  